<div class="container">
  <section class="post">
    <header class="level">
      <h1 class="post-title">{{model.title}}</h1>
      {{#link-to 'admin.post' model.id}} {{fa-icon 'edit'}}{{/link-to}}
    </header>
      <p class="content">
        {{{model.content}}}
      </p>
    <div class="content">
      <form {{action 'contact' (hash name=name email=email subject=subject message=message captcha=captchaResolved) on='submit'}}>
        <div class="field">
          <label class="label">Your Name</label> {{input class="input" value=name}} {{input-error errors=validations.attrs.name.messages}}
        </div>
        <div class="field">
          <label class="label">Your e-mail address</label>
          <div class="control has-icons-left">
            {{input class="input" value=email}}
            <span class="icon is-small is-left">{{fa-icon 'envelope'}}</span> {{input-error errors=validations.attrs.email.messages}}
          </div>
        </div>
        <div class="field">
          <label class="label">Subject</label> {{input class="input" value=subject}} {{input-error errors=validations.attrs.subject.messages}}
        </div>
        <div class="field">
          <label class="label">Message</label> {{textarea class="textarea" rows="5" value=message}} {{input-error errors=validations.attrs.message.messages}}
        </div>
        <div class="field">
          {{g-recaptcha onSuccess=(action "onCaptchaResolved")}}
          {{input-error errors=validations.attrs.captchaResolved.messages}}
        </div>
        <button class="button is-primary" type="submit" disabled= {{validations.isInvalid}}>{{fa-icon 'send'}}&nbsp;Send Message</button>
      </form>
    </div>
  </section>
</div>
