<header>
  <h1 class="post-title">
      {{#link-to 'post' post.category post.id}}{{post.title}}{{/link-to}}
      {{#if post.allowComments}}
      <small class="post-comments-count">{{disqus-comment-count identifier=post.id}}</small>
      {{/if}}
    </h1>
  <div class="post-date">
    {{#if session.isAuthenticated}}
      {{#link-to 'admin.post' post.id class="post-button" }}{{fa-icon 'edit'}}{{/link-to}}
    {{/if}}
    {{display-date post.createdAt}}
  </div>
</header>
<div class="content">
  {{{post.content}}}
</div>
{{#if post.allowComments}}
  {{disqus-comments identifier=post.id}}
{{/if}}
{{yield}}
