{{#site-header}}
  <nav id="banner-tabs" class="tabs">
    <ul>
      {{#each model as |category|}}
      <li>
          {{#link-to 'category' category (query-params start=null)}}{{category}}{{/link-to}}
      </li>
      {{/each}}
      {{#if session.isAuthenticated}}
        <li>
          {{#link-to 'admin.post' 'new'}}New Post{{/link-to}}
        </li>
      {{/if}}
    </ul>
    <ul class="right">
      <li>
        <a href="//linkedin.com/in/christopherscottwetzelrice/" class="tab-inverse tab-fa">{{fa-icon 'linkedin'}}</a>
      </li>
      <li>
        <a href="//github.com/kilowhisky" class="tab-inverse tab-fa">{{fa-icon 'github-square'}}</a>
      </li>
      {{#if session.isAuthenticated}}
        <li><a href="#" class="tab-inverse tab-fa" {{action 'logout'}} title="Log Out">{{fa-icon 'power-off'}}</a></li>
      {{/if}}
    </ul>
  </nav>
{{/site-header}}
<main>
  {{notification-container}}
  {{outlet}}
</main>
{{site-footer}}
